.card {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}



.card-content {
    width: 600px;
    height: 92%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease;
}

.card-img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;

}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-genre,
.card-title,
.card-author,
.card-year,
.card-pages {
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
}

.card-title {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-genre {
    font-size: 16px;
    color: #888;
}

.card-author {
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

.card-year,
.card-pages {
    font-size: 16px;
    color: #777;
}

.card-buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-modal-btn {
    background-color: #007bff;
    color: white;
}

.favorite-btn {
    background-color: #ff007b;
    color: white;
}

.buy-btn {
    background-color: #28a745;
    color: white;
}

.btn:hover {
    filter: brightness(1.1);
}

.favorite-icon {
    font-size: 18px;
    margin-right: 8px;
}

.card-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease;
}

.card-close-btn:hover {
    color: #ff007b;
}