.hero {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.hero-wrap {
    background-color: #FFB400;
    width: 440px;
    height: 221px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    position: relative;
    left: 15px;
    bottom: 30px;
    padding: 15px;
}

.hero-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.add-list {
    display: flex;
    gap: 25px;
    margin-right: 70px;
    align-items: center;
}

#add-book {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 50px;
    background-color: #ffb400;
    color: #fff;
    font-size: 20px;
}

#add-customer {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 50px;
    background-color: #ffb400;
    color: #fff;
    font-size: 20px;
}